.madre {
    width: 650px;
    height: 600px;
    margin-left: 25%;
    margin-top: 10%;
    border: 5px solid black;
    position: relative;
    text-align: center;
}

.caja1,
.caja2,
.caja3 {
    width: 3em;
    height: 2em;
    margin: 1em;
    font-size: 1em;
    text-align: center;
    border: 10px solid pink;
    outline: 5px solid green;
}

.caja1 {
    background-color: greenyellow;
    position: relative;
    top: 120px;
    left: 40px;
    z-index: 1;
}

.caja2 {
    background-color: indigo;
    position: relative;
    left: 50px;
}

.caja3 {
    background-color: lightblue;
    position: relative;
    bottom: 150px;
    z-index: -1;
}

[class ^=caja] {
    width: 3em;
    height: 3em;
}

.caja4 {
    border: 2px solid pink;
    position: absolute;
    top: 20px;
    left: 20px;
}

.caja5 {
    border: 2px solid blue;
    position: absolute;
    top: 20px;
    right: 20px;
}

.caja6 {
    border: 2px solid yellow;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.caja7 {
    border: 2px solid orange;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.caja8 {
    border: 2px solid green;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    margin: auto;
}

.menu {
    background-color: indigo;
    font-size: 3em;
    color: lavender;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 6;
}

.footer {
    background-color: blue;
    font-size: 2em;
    color: coral;
    text-align: center;
    position: sticky;
    bottom: 0px;
    width: 100%;
}

.titulo {
    padding-top: 3em;
}