div>p {
    text-align: center;
}

.parrafo {
    color: salmon;
}

p {
    color: pink;
}

#parrafo {
    color: slateblue;
}

a {
    height: 250px;
}


/*span {
    color: inherit;
}

a {
    color: inherit;
}*/