<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/controllers/jquery-3.6.0.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="D">
        Texto de prueba
    </div>

    <span>
        Soy un span
    </span>

    <p class="parrafo">
        Texto1
    </p>

    <p class="parrafo">
        Texto2
    </p>

    <p class="parrafo" title="nombre">
        Texto3
    </p>

    <button id="Mostrar">
        Mostrar algo :v
    </button>

    <button id="Ocultar">
        Ocultar ese algo UwU
    </button>

    <p id="texto">

    </p>

    <script src="/controllers/Doom.js"></script>
    <script src="/controllers/selectores-jQuery.js"></script>
</body>

</html>