<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/stilo.css">
    <title>Document</title>
</head>

<body>

    <section class="container">
        <h1 class="subtitle">
            Ejemplo-1 Overflow
        </h1>

        <article>
            <div class="boxes">
                <p class="textos">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aspernatur eum dolorum error a voluptatem placeat doloremque inventore sed, dolor delectus dignissimos voluptas reprehenderit incidunt autem adipisci vel, consequuntur perspiciatis. Veritatis
                    rem soluta recusandae maiores quis quos, alias est corporis perferendis iure ut laborum dolorum aperiam laudantium adipisci vero totam odio nesciunt minima? Quia blanditiis veniam assumenda? Fuga, laudantium rem. Eveniet magnam eligendi
                    sit quasi? Illo doloremque iste dolor totam placeat, repudiandae cumque ea possimus, quis consequuntur alias in dolore. Fugit expedita facere quas, architecto at quibusdam nesciunt libero voluptates. Optio provident delectus accusamus
                    itaque repellat mollitia perferendis, nesciunt, voluptates, debitis nemo eum sunt tenetur quasi nihil voluptatem officia blanditiis deserunt commodi reiciendis sed ipsum et! Tenetur quibusdam officia dolore.
                </p>
            </div>
        </article>
    </section>

    <section class="container">
        <h1 class="subtitle">Ejemplo-2 Overflow</h1>
        <article>
            <div class="box">
                <div class="box1">
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quam eaque consequuntur? Consequatur consequuntur, iusto voluptatem ut earum dolor eum atque error fuga modi veniam delectus dolorum omnis aperiam corrupti?
                    </p>
                </div>
                <div class="box2">
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus omnis, beatae quos est officiis dolorem nobis, facere cumque nostrum aspernatur ut dolorum a minus incidunt aliquid corporis. Laboriosam, unde!</p>
                </div>
            </div>
        </article>

    </section>

    <section>
        <article>
            <span class="Prueba">
                Hola mundo
            </span>
            <span class="Prueba">
                Holix2
            </span>
        </article>
    </section>
</body>

</html>