<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <h1 class="title">Pseudoelementos</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque non dolore laboriosam animi veniam, atque dicta doloribus sint minima, ipsam fuga molestias earum laudantium aut dolorem qui blanditiis vel repellendus. Id tempora, autem asperiores fuga impedit
            similique quas, necessitatibus suscipit nobis debitis quod deserunt. Optio autem fuga corrupti inventore. Culpa, molestias beatae. Illo consequatur quaerat maxime atque porro magnam excepturi.
        </p>
        <p class="miPesito">5</p>
        <span class="inline">Elemento de línea
        </span>
    </section>

    <section>
        <h2 class="title">Pseudo Clases</h2>
        <a href="#" class="link">Soy un enlace VISITADO</a>
        <a href="#" class="link">Soy un enlace NO VISITADO</a>

        <input type="text" class="input">
    </section>

    <section>
        <a href="#text" class="menu">Ir a un parrafo</a>
        <p id="text" class="mod">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut maxime molestias, vero consequuntur, assumenda ullam nesciunt nostrum, beatae voluptatem inventore neque doloribus error quo expedita voluptates sed esse corrupti. Nulla.
        </p>
    </section>

    <section>

        <span class="span" lang="en">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit corporis soluta eveniet eaque nisi mollitia quos hic ipsa aspernatur! Rerum sit perspiciatis repellat, quos nostrum error cum labore eveniet. Voluptatum!
        </span>

        <span class="span" lang="es">
            Este es un texto random en español que solo servira de ejemplo
        </span>
    </section>
</body>

</html>