<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <h1 class="title">Pseudoelementos</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque non dolore laboriosam animi veniam, atque dicta doloribus sint minima, ipsam fuga molestias earum laudantium aut dolorem qui blanditiis vel repellendus. Id tempora, autem asperiores fuga impedit
            similique quas, necessitatibus suscipit nobis debitis quod deserunt. Optio autem fuga corrupti inventore. Culpa, molestias beatae. Illo consequatur quaerat maxime atque porro magnam excepturi.
        </p>
        <p class="miPesito">5</p>
        <span class="inline">Elemento de línea
        </span>
    </section>

    <section class="container">
        
    </section>
</body>

</html>