.Titulo {
    color: orange;
    font-size: 3em;
}

.Texto {
    font-size: 2em;
}

.Especificacion {
    font-size: 2em;
}

.Significado {
    font-size: 2em;
    color: springgreen;
}

.Tiempo {
    font-size: 2em;
}

.indice {
    font-size: 2em;
}

.Regreso {
    font-size: 2em;
}

.ranton {
    max-width: 20em;
}

.Cita {
    font-size: 2em;
}

dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 2em;
    color: darkorchid;
}